:root {
	--green-dark: #015f43;
	--green: #00842f;
	--green-light: #00b37e;

	--red-dark: #00875f;
	--red: #f03847;

	--gray1: #121214;
	--gray2: #202024;
	--gray3: #323238;
	--gray4: #7c7c8a;
	--gray5: #8d8d99;
	--gray6: #c4c4cc;
	--gray7: #e1e1e6;

	--white: #ffffff;
}
